[Unit]
Description=Prepare shared mountpoint for rclone OSS mount
After=local-fs.target
Before=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'mount --bind /opt/anime-server/oss-mnt /opt/anime-server/oss-mnt && mount --make-shared /opt/anime-server/oss-mnt'

[Install]
WantedBy=multi-user.target
